﻿@model CatSim.Models.AllCatVM

@{

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["UserRole"] == null)
{
    Response.Redirect(Url.Action("Index", "Home"));
}
else if (Session["UserRole"].ToString() == "User")
{
    Response.Redirect(Url.Action("Index", "Home"));
}
else
{
    using (Html.BeginForm("Create", "Cat", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h5>What's the new cat's name?</h5>
            <div class="form-group">
                @Html.LabelFor(model => model.Meow.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Meow.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Meow.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <h5>Tell us about them...</h5>
            <div class="form-group">
                @Html.LabelFor(model => model.Bio.Bio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Bio.Bio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Bio.Bio, "", new { @class = "text-danger" })
                </div>
            </div>

            <h5>Their stats... Remember, the higher their stat, the harder it is to get an ending other than generic. [1 - 10]</h5>
            <div class="form-group">
                @Html.LabelFor(model => model.Stats.Friendliness, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Stats.Friendliness, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Stats.Friendliness, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Stats.Aggressiveness, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Stats.Aggressiveness, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Stats.Aggressiveness, "", new { @class = "text-danger" })
                </div>
            </div>

            <h5>Their interaction endings; fight, play, and generic. Remember! There's no right way to end a scenario with a cat. What do you think should happen?</h5>
            <div class="form-group">
                @Html.LabelFor(model => model.Ending.Fight, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ending.Fight, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ending.Fight, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ending.Play, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ending.Play, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ending.Play, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ending.Generic, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ending.Generic, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ending.Generic, "", new { @class = "text-danger" })
                </div>
            </div>

            <h5>Do you have a picture of the cat? Upload it here!</h5> <p>((this is where I'd like to add a feature to upload and save pictures from an outside source))</p>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}

<div>
    @Html.ActionLink("Back to List", "DisplayCats")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}