﻿@model BLL.CatSM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["UserRole"] == null)
{
    Response.Redirect(Url.Action("Index", "Home"));
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>

@if (Session["UserRole"].ToString() != "User")
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { ID = Model.ID }) |
        @Html.ActionLink("Back to List", "DisplayCats")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Back to List", "DisplayCats")
    </p>
}
