﻿@model IEnumerable<BLL.CatSM>

@{
    ViewBag.Title = "DisplayCats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["UserRole"] == null)
{
    Response.Redirect(Url.Action("Index", "Home"));
}

<h4>View the Cats</h4>

<p>
    @if (Session["UserRole"].ToString() != "User")
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @if (Session["UserRole"].ToString() == "Admin")
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        }
    </tr>
}

</table>
