﻿@model BLL.EndingsSM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["UserRole"] == null)
{
    Response.Redirect(Url.Action("Index", "Home"));
}
else if (Session["UserRole"].ToString() != "Admin")
{
    Response.Redirect(Url.Action("Index", "Home"));
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Play)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Play)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Generic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Generic)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
