﻿@model BLL.EndingsSM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["UserRole"] == null)
{
    Response.Redirect(Url.Action("Index", "Home"));
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Play)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Play)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Generic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Generic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { ID = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
