﻿@model IEnumerable<BLL.EndingsSM>

@{
    ViewBag.Title = "DisplayEndings";
}

<h2>DisplayEndings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Play)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Generic)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Play)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Generic)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
