﻿@model BLL.EndingsSM

@{
    ViewBag.Title = "FightRoll";
}

<h2>PlayRoll</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Generic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Generic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    <!--Html.ActionLink("Back to List", "Index")-->
</p>