﻿@model IEnumerable<BLL.CatSM>

@{
    ViewBag.Title = "Interact";
}

<h2>Interact</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Play", "PlayRoll", new { id = item.ID }) or
            @Html.ActionLink("Fight", "FightRoll", new { id = item.ID })
        </td>
    </tr>
}

</table>
