﻿
@{
    ViewBag.Title = "AfterLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Session["UserRole"] == null)
{
    Response.Redirect(Url.Action("Index", "Home"));
}

<meta http-equiv="refresh" content="3;URL=@(Url.Action("Index","Home"))">

<h3>Login Successful!</h3>
<h5>Please wait while you're redirected. . . </h5>
@if (Session["LogedUsername"] != null)
{
    <text>
        Welcome @Session["LogedUsername"].ToString()!
    </text>
}
