﻿@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Title</h3>
<h5>@ViewBag.Message</h5>

<p>My 2016 capstone, CatSim, is a cat interaction simulator. Inspired by games such as Pokemon, Neko Atsume, and Tamagotchi. Befriend cats or live your dream of fighting every cat in the world! Create an account or login to begin your cat-friending (or fighting) adventure! Read about the cats and interact with them OR create your own cats as a PowerUser!<br /><br />
    Keep in mind, I, the creator of CatSim, <strong>do not condone</strong> fighting cats or any other form of animal abuse. This simulator is for entertainment purposes only, and if you really want to harm cats simply because you dislike them - excuse you, you need to not.</p>
