﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>

<!--<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>-->

<address>
    <strong>email:</strong> <a href="mailto:emredkenn@gmail.com">emredkenn@gmail.com</a><br />
    <strong>onshore email:</strong> <a href="mailto:emma.kennedy@onshoreoutsourcing.com">emma.kennedy@onshoreoutsourcing.com</a><br />
</address>