﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CatSim</h1>
    <p class="lead">CatSim is an interaction simulator - but with cats! Because cats make everything better.</p>
</div>

@if (Session["UserRole"] != null)
{
<div class="row">
    <div class="col-md-4">
        <h2>Cats</h2>
        <p>
            Look at all the kitties!!!!!
        </p>
        <p><a class="btn btn-default" href="http://localhost:63520/Cat/DisplayCats">Take a look!</a></p>
    </div>
    <div class="col-md-4">
        <h2>Users</h2>
        <p>Anyone who's cool has an account here. Meet the cool kids!</p>
        <p><a class="btn btn-default" href="http://localhost:63520/User/UserList">Take a look!</a></p>
    </div>
    <div class="col-md-4">
        <h2>Interact</h2>
        <p>This is what you're here for, right? To interact with cats? Well, what are you waiting for?!</p>
        <p><a class="btn btn-default" href="http://localhost:63520/Endings/Interact">Interact!</a></p>
    </div>
</div>
}